@media screen and (max-width:700px){
        header .container {
            display: flex;
            flex-direction: column;
        }

        .botao {
            padding-top: 5px;
            width: 150px;
            height: 40px;
            margin-bottom: 2px;
        }

        header nav {
            margin-bottom: 10px;
        }
}

@media screen and (min-width:1000px){
    .descricao {
        width: 50%;
    }
    .filme-principal {
       background-position: top;
    }
}

@media screen and (max-width: 630px){
    .filme-principal {
        background-position: right;
    }
}

@media screen and (max-width:500px){

    .descricao {
        width: 100%;
    }
}

@media screen and (max-width:470px){

    .botao {
        font-size: 10px;
        padding-top: 2px;
        width: 130px;
        height: 30px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:428px) {

    .botao {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:405px) {

    .botao {
        margin-bottom: 25px;
    }
}